.main-window {
    width: fit-content;
    position: relative;
    margin: 5px auto;
}

.game-settings,
.game-container,
.high-scores {
    vertical-align: top;
    display: inline-block;
}

.game-settings {
    text-align: center;
    height: fit-content;
}

.game-settings,
.high-scores {
    width: 220px;
    margin: 13px;
    /* background-color: #F6F1D1; */
    background-color: #70A9A1;
    padding: 0 20px;
    border-radius: 20px;
}


.game-container .board td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 2px solid white;
    cursor: default;
}

/* .help-container,
.cheats-container {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #40798C;
}

.lives-count,
.stat-count,
.spoil-count,
.safe-click-container,
.undo {
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
} */

.help-container,
.cheats-container {
    display: flex;
    width: 100%;
    /* background-color: #40798C; */
    background-color: #70A9A1;
}

.stat-count,
.lives-count,
.spoil-count {
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
}

.stat-count p {
    display: inline-block;
    margin: 0 8px;
    margin-bottom: 20px;
}

.cell-cleared {
    background-color: #40798C;
    /* background-color: #70A9A1; */
}


.hidden {
    /* background-color: black; */
    background-color: #0B2027;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.flagged {
    /* background-color: black; */
    background-color: #0B2027;
    text-indent: initial;
    white-space: initial;
    overflow: initial;
}

.hinted {
    background-color: #F6F1D1;
    transition: 100ms;
}

/* [data-content] {
    background-color: black;
} */