.main-window {
    width: fit-content;
    position: relative;
    margin: 5px auto;
}

.game-settings,
.game-container,
.high-scores {
    vertical-align: top;
    display: inline-block;
}

.game-settings {
    text-align: center;
    height: fit-content;
}

.game-settings,
.high-scores {
    width: 220px;
    margin: 13px;
    background-color: #F6F1D1;
    padding: 0 20px;
    border-radius: 20px;
}

.game-container .board td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 2px solid white;
    cursor: default;
}

.help-container,
.cheats-container {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #40798C;
}

.lives-count,
.stat-count,
.spoil-count,
.safe-click-container,
.undo {
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
}

.stat-count * {
    display: inline-block;
    margin: 0 8px;
}

.cell-cleared {
    background-color: #40798C;
}

[data-content] {
    background-color: black;
}

/* [data-content] {
    background-color: black;
} */

[data-content="💣"] {
    /* background-color: red; */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}