.main-window {
    width: fit-content;
    position: relative;
    margin: 5px auto;
}

/* due to unfinished score feature: */
/* .game-settings,
.game-container,
.high-scores {
    vertical-align: top;
    display: inline-block;
} */

.game-settings {
    display: flex;
    text-align: center;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    margin: 13px auto;
    background-color: #354F52;
    padding: 0 20px;
    border-radius: 20px;
}

.game-settings div {
    margin: 0 20px;
}

/* due to unfinished score feature: */
/* .game-settings,
.high-scores {
    width: 400px;
    margin: 13px;
    background-color: #354F52;
    padding: 0 20px;
    border-radius: 20px;
} */

.game-container table {
    margin: 0 auto;
}



.game-container .board td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 2px solid white;
    cursor: default;
    font-weight: bold;
}

.help-container,
.cheats-container {
    display: flex;
    width: 100%;
    background-color: #354F52;
}

.stat-count,
.lives-count,
.spoil-count,
.hint-count {
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
}

.stat-count p {
    font-size: large;
    display: inline-block;
    margin: 0 8px;
    margin-bottom: 20px;
}

.stat-count .emoji {
    font-size: x-large;
}

.cell-cleared, .cell-flashed {
    /* background-color: #52796F; */
    background-color: white;
}


.hidden {
    background-color: #2F3E46;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.flagged {
    background-color: #2F3E46;
    text-indent: initial;
    white-space: initial;
    overflow: initial;
}

.hinted {
    background-color: #CAD2C5;
    transition: 100ms;
}

.spoiled {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

[data-content="1"] {
    color: #58aeca;
    font-size: x-large;
}
[data-content="2"] {
    color: #60c270;
    font-size: x-large;
}
[data-content="3"] {
    color: #9e6dcc;
    font-size: x-large;
}
[data-content="4"] {
    color: #ff7eea;
    font-size: x-large;
}
[data-content="5"] {
    color: #fd4444;
    font-size: x-large;
}
[data-content="6"] {
    color: #a30000;
    font-size: x-large;
}
[data-content="7"] {
    color: #7e0000;
    font-size: x-large;
}
[data-content="8"] {
    color: #000000;
    font-size: x-large;
}

/* due to unfinished score feature: */
.high-scores {
    display: none;
}

#in-development {
    background-color: grey;
    cursor: not-allowed;
}